{
  "name": "_____package-name_____",
  "version": "1.0.0",
  "description": "Two way template converter.",
  "main": "lib",
  "scripts": {
    "test": "./ci/test.js"
  },
  "repository": "my-wonderful-repo/_____package-name_____",
  "keywords": [
  ],
  "author": {
    "name": "_____author-name_____",
    "email": "_____email_____",
    "url": "_____author-url_____"
  },
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/my-wonderful-repo/_____package-name_____/issues"
  },
  "homepage": "https://github.com/my-wonderful-repo/_____package-name_____#readme",
  "dependencies": {
    "argx": "*",
    "askconfig": "*",
    "async": "*",
    "commander": "*"
  },
  "devDependencies": {
    "ape-covering": "*",
    "ape-releasing": "*",
    "ape-reporting": "*",
    "ape-tasking": "*",
    "ape-testing": "*",
    "ape-tmpl": "*",
    "ape-updating": "*",
    "coz": "*",
    "coz-tmpl": "*",
    "injectmock": "*",
    "sharegit": "*"
  },
  "preferGlobal": true
}
