{
  "name": "_____package_name_____",
  "version": "1.0.0",
  "description": "_____package_description_____",
  "main": "lib",
  "scripts": {
    "test": "./ci/test.js",
    "prepublish": "./ci/build.js"
  },
  "repository": "_____github_repository_____",
  "keywords": [
  ],
  "author": {
    "name": "_____author_name_____",
    "email": "_____author_email_____",
    "url": "_____author_url_____"
  },
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/_____github_repository_____/issues"
  },
  "homepage": "https://github.com/_____github_repository_____#readme",
  "dependencies": {
    "co": "*"
  },
  "devDependencies": {
    "ape-covering": "*",
    "ape-releasing": "*",
    "ape-reporting": "*",
    "ape-tasking": "*",
    "amocha": "*",
    "ape-tmpl": "*",
    "ape-updating": "*",
    "ape-formatting": "*",
    "coz": "*",
    "injectmock": "*"
  },
  "engines": {
    "node": ">=6",
    "npm": ">=3"
  }
}
